<div class="grid mt-1 mb-1">
    <div class="col-12 md:col-6 lg:col-2">
      <p-inputGroup>
        <p-inputGroupAddon> API </p-inputGroupAddon>
        <select name="dropdown1" class="dropdown w-full" id="dropdown1">
          <option value="LoremIpsum">Choose</option>
        </select>
      </p-inputGroup>
    </div>
    <div class="col-12 md:col-6 lg:col-2">
      <p-inputGroup>
        <p-inputGroupAddon>Tags</p-inputGroupAddon>
        <select name="dropdown2" class="dropdown w-full" id="dropdown1">
          <option value="LoremIpsum">Choose</option>
        </select>
      </p-inputGroup>
    </div>
    <div class="col-12 md:col-6 lg:col-2">
      <p-inputGroup>
        <p-inputGroupAddon>Filter 3</p-inputGroupAddon>
        <select name="dropdown3" class="dropdown w-full" id="dropdown1">
          <option value="LoremIpsum">Choose</option>
        </select>
      </p-inputGroup>
    </div>
    <div class="col-12 md:col-6 lg:col-2">
        <p-inputGroup>
          <p-inputGroupAddon>Filter 4</p-inputGroupAddon>
          <select name="dropdown4" class="dropdown w-full" id="dropdown1">
            <option value="LoremIpsum">Choose</option>
          </select>
        </p-inputGroup>
      </div>
  </div>