.card {
    .p-table {
        border: 1px solid rgb(249, 244, 244);
        border-radius: 8px;
        overflow: hidden;
    }
    color: black;
}

:host ::ng-deep .p-tag {
    margin-right: 5px;
  }
  


.box {
    width: 10px;
    height: 20px;
    border: 0.1px solid rgb(211, 211, 211);
    display: inline-block; /* Make sure boxes do not wrap */
    margin: 0 1px; /* Optional: spacing between boxes */
    background-color: grey; /* Default color */
}

.box:first-child {
    border-top-left-radius: 4px; /* Rounded top-left corner for the first box */
    border-bottom-left-radius: 4px; /* Rounded bottom-left corner for the first box */
}

.box:last-child {
    border-top-right-radius: 4px; /* Rounded top-right corner for the last box */
    border-bottom-right-radius: 4px; /* Rounded bottom-right corner for the last box */
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .tag {
    background-color: #EEEEEE;
    border: 1px solid #EEEEEE;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 2px;
    width: Hug (66px)px;
    height: Fixed (20px)px;
    padding: 1px 7px 1px 7px;
    gap: 4px;
    

  }
  
  .more-tag {
    padding: 5px 10px;
    margin: 2px;
  }
  
  .paginator-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    text-align: center;
    margin-left: auto;
    background-color: #f5f4f3;
    border: 1px solid #f5f4f3;
    margin-right: auto;
    padding: 10px;
}

.flex {
  display: flex;
  align-items: center;
}

.align-items-center {
  display: flex;
  align-items: center;
}

// tooltip
